fastapi
uvicorn
sqlalchemy
psycopg[binary]
python-jose
passlib[bcrypt]
pydantic-settings
resemblyzer
numpy
soundfile
openai
python-multipart
requests
redis
fasttext
sentence-transformers
python-dotenv
langdetect
simple_image_download
pillow


