fastapi
uvicorn
sqlalchemy
psycopg[binary]
python-jose
passlib[bcrypt]
pydantic-settings
resemblyzer==0.1.4
webrtcvad==2.0.10
setuptools==68.2.2
numpy
soundfile
openai
python-multipart
requests
redis
#fasttext
sentence-transformers
python-dotenv
langdetect
simple_image_download
pillow
email-validator
dnspython

